body {
  background: #f8fafe;
}
.wrapper {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn {
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #2d2f5a;
  font-size: 32px;
  display: inline-block;
  border: 2px solid #920cc8;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}
.btn:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}
.btn:hover {
  background-color: #920cc8;
  color: #ebe1fa;
  border-bottom: 4px solid #2d2f5a;
}
.btn:hover:before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}
@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}